&input
   filename     =  "prefix",
   filegofr     =  "prefix.gO*HB",
   stepstart    =  xxN0xx,
   stepstop     =  xxN1xx,
   cs           =  xxCSxx,
   hbnum        =  xxHBxx,
   binNum       =  200,
/

